.ds-2col-stacked > .group-right {
    float: right;
    width: 49% !important;
    margin-left: 1%;
    margin-top: 1.94%;
}

/*#admin-menu {
    -moz-box-shadow: none !important;
     -webkit-box-shadow: none !important;
     box-shadow: none !important;
     background-color: #1e1e1e !important;
}

#admin-menu .dropdown li ul {
    margin-top: 1px;
}

#admin-menu .dropdown .admin-menu-toolbar-category > a.active-trail {
    text-shadow: none !important;
    border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    background: #5b646e !important;
}

#admin-menu .dropdown .admin-menu-toolbar-category > a:hover {
    background-color: #9fa4aa !important;
    border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;

}


#admin-menu .dropdown .admin-menu-toolbar-category > a, #admin-menu .dropdown .admin-menu-action > a {
    transition: 0.3s all;
    border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
}*/

.vertical-tabs-pane input {
    width: 95%;
}

.mce-edit-area {
    padding: 5px 15px !important;
}

.droppable {
    width: 101%;
}

span.moxman-txt {
    padding-left: 5px;
}
