div.filefield-filemanager-opener-widget-edit {
  max-width: none !important;
  float: none !important;
}

ul.filefield-filemanager-opener-tabs {
  height: 25px;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 100%;
  font-size: 12px !important;
}

ul.filefield-filemanager-opener-tabs li {
  display: block;
  float: left;
  height: 25px;
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
  z-index: 599;
}

ul.filefield-filemanager-opener-tabs li a:hover {
  text-decoration: none;
}

ul.filefield-filemanager-opener-tabs li a {
  display: block;
  margin: 0 5px 0 0 !important;
  padding: 5px 15px 2px !important;
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

ul.filefield-filemanager-opener-tabs li a:hover,
ul.filefield-filemanager-opener-tabs li.active a {
  filter: alpha(opacity=100);
  opacity: 1;
}

ul.filefield-filemanager-opener-tabs li.active {
  border: solid silver 1px;
  border-bottom: none;
  background: white;
  -moz-border-radius-topleft:6px;
  -moz-border-radius-topright:6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
}

div.filefield-filemanager-opener-widget-edit .tab-content {
  border: solid silver 1px;
  padding: 15px;
  background: white;
}

div.filefield-filemanager-opener-widget-edit .tab-content .form-text {
  width: 60%;
  display: inline;
  margin-right: 5px;
}

.sticky-header {
  z-index: 1001;
}